<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>

        <element scope="shop" type="mediaselection">
            <name>noPictureId</name>
            <label lang="de">Bild:</label>
            <label lang="en">Image:</label>
            <options>
                <xtype>shopware-media-field</xtype>
                <albumId>-1</albumId>
                <multiSelect>false</multiSelect>
            </options>
        </element>

    </elements>
</config>
